<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>Sign in</title>
    </head>
    <body>
        <div id="signin_error_message"></div>
        <div><input placeholder="user name" type="text" id="signin_user_name"></div>
        <div><input placeholder="password" type="password" id="signin_password_input"></div>
        <div><button onclick="SigninPage.signin('{{.}}')">Signin</button></div>
        <script src="./js/signin.page.js"></script>
    </body>
</html>